
body, html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.about-page {
  max-width: 720px;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 18px;
}

.header {
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding-left: 12px;
}

.header-about-text {
  padding-left: 12px;
}

.header-large {
  font-size: 1.6rem;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
}

.loading-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-term-tabs {
  display: flex;
  flex-direction: row;
}

.select-term-tab {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.select-term-tab-selected {
  border-bottom: 3px solid #666;
}

.top-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #999;
}

.top-item-image {
  width: 60px;
  height: 60px;
  flex-basis: 60px;
  flex-shrink: 0;
}

.top-item-rank {
  flex-basis: 4rem;
  flex-shrink: 0;
  text-align: center;
}

.top-item-data {
  padding-left: 15px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-item-play {
  flex-grow: 1;
  text-align: right;
  padding-right: 40px;
}

.top-item-play-icon {
  color: #444;
  cursor: pointer;
}

.top-item-play-icon:hover {
  color: #888;
}

.top-items-footer {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #999;
  font-size: .9em;
}

.top-items-footer .about-link {
  padding-left: 10px;
}

.top-items-footer .copyright {
  padding-right: 10px;
}

.top-items-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: #111;
}

.top-items-screen {
  margin: 0 auto;
  max-width: 960px;
  background-color: #ffffff;
  min-height: 100vh;
}

.top-tracks {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.track-artist, .artist-genre {
  font-size: .95rem;
  font-weight: 300;
}

.track-name, .artist-name {
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding-bottom: .5rem;
}

/* anything less than 520px */
@media screen and (max-width: 519px) {
  .header {
    text-align: center;
    padding-left: 0;
  }

  .top-item-rank {
    flex-basis: 2.25rem;
  }

  .top-item-play {
    padding-right: 1rem;
  }
}
