
body, html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.about-page {
  max-width: 720px;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 18px;
}

.header {
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding-left: 12px;
}

.header-about-text {
  padding-left: 12px;
}

.header-center {
  text-align: center;
  padding-left: 0;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 16px 0 15px 0;
}

.header-large {
  font-size: 1.6rem;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
}

.loading-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsored-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #000;
  align-items: center;
}

.sponsored-item .sponsored-info {
  padding-top: 12px;
  font-size: .9rem;
  text-align: center;
}

.sponsored-item .sponsored-item-artist {
  font-weight: bold;
}

.sponsored-item .sponsored-label {
  font-weight: bold;
}

.top-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
}

.top-item:not(:first-child) {
  border-top: 1px solid #999;
}

.top-item-image {
  width: 60px;
  height: 60px;
  flex-basis: 60px;
  flex-shrink: 0;
  border-radius: 5px;
}

.top-item-rank {
  flex-basis: 4rem;
  flex-shrink: 0;
  text-align: center;
}

.top-item-data {
  padding-left: 15px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-item-play {
  flex-grow: 1;
  text-align: right;
  padding-right: 40px;
}

.top-item-play-icon {
  color: #444;
  cursor: pointer;
}

.top-item-play-icon:hover {
  color: #888;
}

.top-items .type-header {
  font-size: 1.0rem;
  letter-spacing: 1.2px;
}

.top-items-body {
  margin-top: 53px;
  padding-top: 10px;
}

.top-items-footer {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: .7em;
  border-top: 1px solid #999;
}

.top-items-footer .about-link {
  padding-left: 10px;
  text-align: center;
}

.top-items-footer .affiliate-info {
  padding: 0 8px;
  text-align: center;
}

.top-items-footer .copyright {
  padding-right: 10px;
  text-align: center;
}

.top-items-header {
  position: fixed;
  top: 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-size: 1.0rem;
  min-height: 50px;
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
}

.top-items-header .dropdown-wrapper {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 248, 248);
  background-color: rgb(248, 248, 248);
}

.top-items-header .dropdown-wrapper .select-blank-space {
  width: 8px;
  height: 50px;
  color: rgb(248, 248, 248)!important;
  background: rgb(248, 248, 248)!important;
  background-color: rgb(248, 248, 248)!important;
}

.top-items-header .dropdown-wrapper select {
  font-size: .95rem;
  height: 50px;
  flex-basis: 100%;
  font-weight: bold;
  border: none;
  outline: none;
}

.top-items-header .time-range-dropdown {
  border-right: 1px solid #ccc;
}

.top-items-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: #111;
}

.top-items-screen {
  margin: 0 auto;
  max-width: 960px;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}

.top-tracks {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.track-artist, .artist-genre {
  font-size: .95rem;
  font-weight: 300;
}

.track-name, .artist-name {
  font-size: 1.1rem;
  letter-spacing: 1.6px;
  padding-bottom: .5rem;
  font-weight: bold;
}


/* anything less than 760px */
@media screen and (max-width: 759px) {
  .header {
    font-size: 1.1rem;
  }

  .select-term-tab {
    min-height: 45px;
    font-size: 1.1rem;
  }

  .track-name, .artist-name {
    font-size: 1rem;
  }
}

/* anything less than 520px */
@media screen and (max-width: 519px) {
  .select-term-tab {
    font-size: 1rem;
  }

  .top-items-header .dropdown-wrapper select {
    font-size: .75rem;
  }

  .top-item-rank {
    flex-basis: 2.25rem;
  }

  .top-item-play {
    padding-right: 1rem;
  }

  .track-name, .artist-name {
    letter-spacing: 1.3px;
  }

  .type-header {
    margin-top: 6px;
  }
}

/* anything less than 420px */
@media screen and (max-width: 419px) {
  .header {
    font-size: 1rem;
  }

  .select-term-tab {
    min-height: 40px;
    font-size: .85rem;
  }
}
